### Pandas
- Dataframe - Special Object to data in tabular form(rows & columns)

In [2]:
import pandas as pd
import numpy as np

In [4]:
# Try to create a data frame
user_data = {
    "MarksA" : np.random.randint(1, 100, 5),
    "MarksB" : np.random.randint(50, 100, 5),
    "MarksC" : np.random.randint(1, 100, 5)
}

In [3]:
np.random.randint(1, 100, 10) # (lower_bound, upper_bound, number of values you want to generat)

array([22, 80, 21, 82, 41, 18, 98, 96, 37,  9])

In [5]:
user_data

{'MarksA': array([31, 14, 37, 41, 98]),
 'MarksB': array([88, 72, 92, 58, 70]),
 'MarksC': array([ 9, 13, 41, 62, 14])}

In [10]:
df = pd.DataFrame(user_data, dtype='float')
df

   MarksA  MarksB  MarksC
0    31.0    88.0     9.0
1    14.0    72.0    13.0
2    37.0    92.0    41.0
3    41.0    58.0    62.0
4    98.0    70.0    14.0

In [11]:
print(df.columns)

Index(['MarksA', 'MarksB', 'MarksC'], dtype='object')

In [12]:
df.to_csv('marks.csv')

In [13]:
my_data = pd.read_csv('marks.csv')

In [15]:
my_data = my_data.drop(columns=['Unnamed: 0'])
my_data

   MarksA  MarksB  MarksC
0    31.0    88.0     9.0
1    14.0    72.0    13.0
2    37.0    92.0    41.0
3    41.0    58.0    62.0
4    98.0    70.0    14.0