# Pandas - Working with Tabular Data

In [1]:
import numpy as np

In [2]:
pokemons = {
    "Height" : np.random.randint(1, 100, 5),
    "Weight" : np.random.randint(50, 150, 5),
    "Power" : np.random.randint(200, 250, 5)
}

In [3]:
pokemons

{'Height': array([56, 98, 71, 69, 71]),
 'Weight': array([ 81, 135, 143, 126,  86]),
 'Power': array([214, 248, 218, 232, 214])}

In [4]:
import pandas as pd

In [5]:
df = pd.DataFrame(pokemons)
print(df)

   Height  Weight  Power
0      56      81    214
1      98     135    248
2      71     143    218
3      69     126    232
4      71      86    214

In [7]:
df.head(n = 3)

   Height  Weight  Power
0      56      81    214
1      98     135    248
2      71     143    218

In [8]:
print(df.columns)

Index(['Height', 'Weight', 'Power'], dtype='object')

In [9]:
# Create a CSV(Comma Separate) File
df.to_csv('pokemon_data.csv')

# Read a DataFrame

In [10]:
# Kaggle Challenges --> CSV Files

In [11]:
df = pd.read_csv('pokemon_data.csv')

In [12]:
df.head()

   Unnamed: 0  Height  Weight  Power
0           0      56      81    214
1           1      98     135    248
2           2      71     143    218
3           3      69     126    232
4           4      71      86    214

In [13]:
print(df)

   Unnamed: 0  Height  Weight  Power
0           0      56      81    214
1           1      98     135    248
2           2      71     143    218
3           3      69     126    232
4           4      71      86    214

In [14]:
df.drop(columns = ["Unnamed: 0"])

   Height  Weight  Power
0      56      81    214
1      98     135    248
2      71     143    218
3      69     126    232
4      71      86    214

In [15]:
df.shape

(5, 4)